@using DemoApplication.Areas.Client.ViewModels.Authentication
@model RegisterUpdateViewModel


<div class="col-lg-9 col-12 mt--30 mt-lg--0">
    <div class="myaccount-content">
        <h3>Account Details</h3>
        <div class="account-details-form">
            <form method="POST" asp-route="client-account-info">
                <div class="row">
                    <div class="col-lg-6 col-12  mb--30">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12  mb--30">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


